body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9edee;
}

.darkblue {
    background-color: #222f3f;
}

.lightblue {
    background-color: #364759;
}

header img {
    width: 10%;
    height: auto;
}
header button {
    background-color: transparent;
    border: none;
    color: white;
}

main div{
    width: 90%;
    margin: auto;
    background-color: transparent;

}

.giftcards {
    width: 100%;
    background-color: #f36700;
    text-align: center;
    color: white;
    margin: 10px 0;
    padding: 10px 0;

}

.holiday {
    width: 100%;
    text-align: center;
    background-image: url(bg-image.png);
    margin: 10px 0;
    padding: 50px 0;
    color: white;
;
}
.holiday h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.images {
    height: 500%;
    background-color: white;
    

}
.images article{
    text-align: center;
}
.images img {
    width: 20%;
    height: 150%;
    margin: 5px 15px;
    border-radius: 10%;
}

.bigImages img {
    width: 100%;
    margin: 10px 0;

}
.bigImages{
    background-color: white;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer img {
    width: 10%;
    padding: 50px;
}
footer div {
    padding:  10px;;
}
footer a{
    color: white;
}